@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

@font-face {
    font-family: 'Anurati';
    src: url('../../assets/fonts/anurati/Anurati-Regular.otf');
}

@font-face {
    font-family: 'Exan';
    src: url('../../assets/fonts/exan/Exan-Regular.ttf');
}

@font-face {
    font-family: 'Quantum';
    src: url('../../assets/fonts/quantum/Quantum.otf');
}

@font-face {
    font-family: 'Gipervelz';
    src: url('../../assets/fonts/glipervelz/Glipervelz-Origy.ttf');
}

:root {
    /* cores */
    --cor-preto-2: #000000;
    --cor-preto-3: #17171d;
    --cor-branco-1: #FFFFFF;
    --cor-verde-1: #66ff66;
 
    --cor-verde-logo-2: #00BE9D;
    --cor-verde-logo-3: #00A4D5;

    /* fontes */
    --font-roboto: 'Roboto';
    --font-quantum: 'Quantum';
    --font-exan: 'Exan';
    --font-anurati: 'Anurati';
    --font-gipervelz: 'Gipervelz'
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
}

*::selection {
    color: var(--cor-preto-3) !important;
    background-color: var(--cor-verde-1) !important;
}

/* Scroll personalizado */

*::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--cor-preto-3);
}
  
*::-webkit-scrollbar-thumb {
    background-color: var(--cor-verde-logo-3);
    border-radius: 10px;
    border: 1px solid var(--cor-preto-2);
}

html {
    scroll-behavior: smooth;
}

/* Pre-loader page */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background-color: var(--cor-branco-1);
}

#preloader .inner {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

#preloader .inner #load-img-gif {
    max-width: 200px;
}

/* Particles JS */

#particles-js {
    background-color: var(--cor-preto-3);
    width: 100%;
    height: 95vh;
}

/* Barra navegação */

.nav-top {
    z-index: 77;
    position: fixed;
    width: 100%;
    padding: 10px 20px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
}

.logo {
    max-width: 60px;
}

.list-menu-top {
    display: flex;
    list-style: none;
}

.item-list-menu-top {
    transition: .3s; 
}

.item-list-menu-top a {
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 40px;
    font-size: 18px;
    font-family: var(--font-quantum);
    color: var(--cor-verde-logo-3);
    transition: .3s;
}

.item-list-menu-top a > i {
    color: var(--cor-verde-1);
}

.item-list-menu-top:hover {
    cursor: pointer;
    transition: .3s;
}

/* Primeira sessao */

.container-1200 {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.display-top-info {    
    position: fixed;
    top: 80px; 
    right: 0;
    z-index: 76;
}

.infos-display {
    list-style: none;
    text-transform: uppercase;
    font-family: var(--font-roboto);
    font-size: 12px;
    color: var(--cor-verde-logo-3);
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid var(--cor-verde-1);
    text-align: right;
    font-weight: 300;
}

.container-introducao {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    align-items: flex-start;
}

.nome-introduction-port {
    min-width: 100%;
    font-family: var(--font-anurati);
    font-size: 80px;
    text-transform: uppercase;
    color: var(--cor-branco-1);
    z-index: 7;
    margin: 0;
}

.subtitle-introduction-port {
    margin: 0;
    text-transform: uppercase;
    font-size: 65px;
    font-family: var(--font-exan);
    background-image: linear-gradient(
        to left,  
        var(--cor-verde-logo-2), 
        var(--cor-verde-logo-3), 
        var(--cor-verde-1)
    ); 
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.subtitle-introduction-port small {
    font-family: 'Courier New', Courier, monospace;
    color: var(--cor-verde-1)
}

.titulo-alinhado-direita {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.container-titulo-sessao {
    width: 100%;
    padding: 18px 0;
}

.container-titulo-sessao > span:nth-child(1) {
    font-size: 60px;
    font-family: var(--font-quantum);
}

.container-titulo-sessao > span:nth-child(2) {
    font-size: 100px;
    font-family: var(--font-quantum);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
        to left,  
        var(--cor-verde-logo-2), 
        var(--cor-verde-logo-3), 
        var(--cor-verde-1)
    ); 
}

#sobre .container-titulo-sessao > span:nth-child(1) { color: var(--cor-preto-3); }
#skills .container-titulo-sessao > span:nth-child(1) { color: var(--cor-branco-1); }
#projetos .container-titulo-sessao > span:nth-child(1) { color: var(--cor-preto-3); }
#contato .container-titulo-sessao > span:nth-child(1) { color: var(--cor-branco-1); }
/* Segunda sessão */

#sobre {
    width: 100%;
    padding-bottom: 20px;
}

.container-conteudo-sobre {
    display: flex;
}

.container-texto-sobre {
    display: flex;
    flex: 1.7;
    flex-direction: column;
    padding-left: 30px;
}

.container-divisoria-sobre {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container-divisoria-sobre > b {
    flex: 1;
    background-color: var(--cor-verde-1);
    height: 5px;
}

.img-divisoria {
    border-left: 4px solid var(--cor-preto-3);
    border-radius: 50%;
    padding: 2px;
    max-width: 50px;
}

.container-perfil-img {
    width: 400px;
}

.box-texto-sobre {
    flex: 1;
 }

.foto-perfil {
    border-radius: 50%;
    width: 100%;
    border-left: 12px solid var(--cor-preto-3);
    border-bottom: 12px solid var(--cor-preto-3);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


.paragrafo-texto-sobre {
    padding-top: 30px;
    font-size: clamp(.8rem, 1vw, 2rem);
    text-transform: uppercase;
    font-family: var(--font-exan);
    color: var(--cor-preto-3);
    font-weight: 900;
    line-height: 28px;
    text-align: justify;
}

/* From uiverse.io by @BHARGAVPATEL1244 */
#btn-para-contato {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 1.5rem 2rem;
    margin: 0;
    text-transform: uppercase;
    font-family: var(--font-quantum);
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: var(--cor-verde-logo-3);
    color: var(--cor-preto-2);
    margin-top: 10px;
    text-decoration: none;
}
   
#btn-para-contato span a {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    text-decoration: none;
    height: 100%;
    padding: 15px;
}
   
#btn-para-contato:hover span a {
    color: var(--cor-branco-1);
    text-decoration: none;
    height: 100%;
}
   
#btn-para-contato::before,
#btn-para-contato::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
   
#btn-para-contato::before {
    content: "";
    background: var(--cor-verde-1);
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}
   
#btn-para-contato:hover::before {
    transform: translate3d(100%, 0, 0);
}
   
/* Terceira sessão */

#skills {
    position: relative;
    transform: skewY(-5deg);
    background-color: var(--cor-preto-3);
    z-index: -1;
}

#skills .container-1200 {
    
    transform: skewY(5deg);
}

.container-conteudo-skilss {
    display: flex;
    justify-content: space-between;
}

.container-easter-egg {
    writing-mode: vertical-lr;
    font-family: var(--font-gipervelz);
    font-size: 18px;
    color: var(--cor-branco-1);
}

.container-skills-grid {
    margin-left: 30px;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
    max-height: 300px;
}

.icon-skills {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--font-quantum);
    color: var(--cor-verde-logo-3);
}

.icon-skills i {
    font-size: 64px;
    color: var(--cor-verde-1);
    transition: .5s;
}

.icon-skills:nth-child(odd) i {
    color: var(--cor-branco-1);
}

.div-grid-1 { grid-area: 1 / 1 / 2 / 2; }
.div-grid-2 { grid-area: 1 / 2 / 2 / 3; }
.div-grid-3 { grid-area: 1 / 3 / 2 / 4; }
.div-grid-4 { grid-area: 1 / 4 / 2 / 5; }
.div-grid-5 { grid-area: 1 / 5 / 2 / 6; }
.div-grid-6 { grid-area: 2 / 1 / 3 / 2; }
.div-grid-7 { grid-area: 2 / 2 / 3 / 3; }
.div-grid-8 { grid-area: 2 / 3 / 3 / 4;}
.div-grid-9 { grid-area: 2 / 4 / 3 / 5; }
.div-grid-10 { grid-area: 2 / 5 / 3 / 6; }

/* Quarta sessao */

.uk-card-body h3 {
    text-transform: uppercase;
    color: var(--cor-preto-2);
    font-family: var(--font-quantum);
}

.uk-card-body p {
    font-family: var(--font-exan);
    color: var(--cor-preto-3);
    font-size: 14px;
    text-transform: uppercase;
}

.link-github {
    color: var(--cor-verde-1) !important;
    text-decoration: underline;
    font-family: var(--font-exan);
}

.uk-position-small {
    background-color: var(--cor-verde-1) !important;
    border-radius: 60px !important;
}

/* Quinta sessão contato */

#contato {
    background-color: var(--cor-preto-3);
    width: 100%;
    background-image: url('./../../assets/img/fundo-3.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 40px;
}

.cards-contato {
    display: flex;
    justify-content: space-around;
}

.card {
    border-radius: 15px;
    width: 240px;
    height: 310px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(12px);
}

.card i {
    font-size: 120px;
    color: var(--cor-verde-1);
}

.card a {
    font-size: 20px;
    margin-top: 30px;
    text-transform: uppercase;
    color: var(--cor-preto-2);
    font-family: var(--font-exan);
    background-color: var(--cor-branco-1);
    padding: 5px 20px;
    border-radius: 60px;
}

.card:hover {
    background-color: var(--cor-verde-1);
}

.card:hover i {
    color: var(--cor-branco-1);
}

.card:hover a {
    color: var(--cor-verde-1);
}

/* rodapé */

footer {
    display: flex;
    flex-direction: column;
    height: 100px;
    align-items: center;
    justify-content: center;
    color: var(--cor-branco-1);
    background-color: var(--cor-preto-3);
    font-family: var(--font-anurati);
    text-transform: uppercase;
}

@media (max-width: 1260px) {

    .container-introducao {
        padding-left: 50px;
    }

    .nome-introduction-port {
        font-size: 55px;
    }

    .subtitle-introduction-port {
        font-size: 40px;
    }

    .container-skills-grid {
        max-width: 600px;
        margin: auto;
        grid-gap: 20px;
    }

    #skills > .container-1200 {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 80px;
    }
    
    .display-top-info > ul {
        display: flex;
        flex-direction: row;
    }

    .infos-display {
        border: none;
    }

    .container-easter-egg {
        display: none;
    }

    .uk-slider-container-offset {
       max-width: 100%;
    }

}

.menu-none {
    display: none;
}

@media (max-width: 1045px) {


    .container-perfil-img {
        width: 250px ;
    }

    .paragrafo-texto-sobre {
        font-size: 12px;
    }

    .cards-contato {
        justify-content: space-evenly;
    }

    .card {
        width: 160px;
        height: 200px;
    }

    .card i {
        font-size: 80px;
    }
}   

@media (max-width: 890px) {

    .nav-top {
        padding-left: 20px;
        max-width: 100%;
    }

    .list-menu-top {
        display: none;
    }

    .display-top-info {
        display: none;
    }

    .menu-none {
        display: block;
    }

    .container-introducao {
        padding-left: 30px;
    }

    .nome-introduction-port {
        font-size: 40px;
    }

    .subtitle-introduction-port {
        font-size: 30px;
    }

    .container-conteudo-sobre {
        flex-direction: column;
        align-items: center;
    }

    .container-perfil-img {
        width: 300px ;
    }
    
    .box-texto-sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-divisoria-sobre {
        display: none;
    }

    .container-texto-sobre {
        padding: 0;
    }

    .container-titulo-sessao span:nth-child(1) {
        font-size: 40px;
    }

    .container-titulo-sessao span:nth-child(2) {
        font-size: 60px;
    }
}

@media (max-width: 740px) {

    .cards-contato {
        justify-content: space-evenly;
    }

    .card {
        width: auto;
        backdrop-filter: none;
        box-shadow: none;
    }

    .card i {
        font-size: 40px;
    }

    .card a {
        font-size: 14px;
    }
}

@media (max-width: 640px) {

    .container-introducao {
        align-items: center;
        padding: 0;
    }

    .nome-introduction-port {
        text-align: center;
        font-size: 40px;
    }

    .subtitle-introduction-port {
        text-align: center;
        font-size: 30px;
    }
}

@media (max-width: 580px) {

    .container-titulo-sessao span:nth-child(1) {
        font-size: 30px;
    }

    .container-titulo-sessao span:nth-child(2) {
        font-size: 45px;
    }

    .container-skills-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
        
    .div-grid-1 { grid-area: 1 / 2 / 2 / 3; }
    .div-grid-2 { grid-area: 2 / 1 / 3 / 2; }
    .div-grid-3 { grid-area: 2 / 2 / 3 / 3; }
    .div-grid-4 { grid-area: 2 / 3 / 3 / 4; }
    .div-grid-5 { grid-area: 3 / 1 / 4 / 2; }
    .div-grid-6 { grid-area: 3 / 2 / 4 / 3; }
    .div-grid-7 { grid-area: 3 / 3 / 4 / 4; }
    .div-grid-8 { grid-area: 4 / 1 / 5 / 2; }
    .div-grid-9 { grid-area: 4 / 2 / 5 / 3; }
    .div-grid-10 { grid-area: 4 / 3 / 5 / 4; }

    .icon-skills {
        font-size: 14px;
    }
    
    .icon-skills i {
        font-size: 30px;
    }

    .cards-contato {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: auto;
    }

    .card {
        height: auto;
        padding-top: 10px;
    }

    .card-1 { grid-area: 1 / 1 / 2 / 2; }
    .card-2 { grid-area: 1 / 2 / 2 / 3; }
    .card-3 { grid-area: 2 / 1 / 3 / 2; }
    .card-4 { grid-area: 2 / 2 / 3 / 3; }

    .container-titulo-sessao span:nth-child(1) {
        font-size: 20px;
    }

    .container-titulo-sessao span:nth-child(2) {
        font-size: 30px;
    }

    .container-perfil-img {
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: center;
    }

    .foto-perfil {
        width: 200px;
    }
} 

